# Measure of Central Tendency:
Mean

Median

Mode

# Mean: Using numpy

In [7]:
age = [12,23,43,15,26,65,35,34,25,34,54,23,65]

In [8]:
import numpy as np
np.mean(age)

34.92307692307692

In [9]:
weights = [67,56,80,86,94,57]
np.mean(weights)

73.33333333333333

In [10]:
# Loading dataset from Seaborn:
import seaborn as sns
df = sns.load_dataset('tips')

In [11]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
# Mean of total bill:
np.mean(df['total_bill'])

19.78594262295082

# Median -> Using numpy

In [13]:
age

[12, 23, 43, 15, 26, 65, 35, 34, 25, 34, 54, 23, 65]

In [14]:
np.median(age)

34.0

In [15]:
np.mean(age)

34.92307692307692

In [21]:
# Putting huge outlier:
age = [12,23,43,15,26,65,35,34,25,34,54,23,65,63,250]

In [22]:
np.mean(age)

51.13333333333333

In [23]:
np.median(age)

34.0

In [26]:
np.median(df['total_bill'])

17.795

# Mode --> Using scipy

In [24]:
from scipy import stats

In [25]:
stats.mode(age)

/tmp/ipykernel_124/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([23]), count=array([2]))